#errorOnTop {position: fixed; top: 0; left: 0; width: 100%; height: 0; z-index: 10000;}
#header {margin-top: 40px;}
.mDestroy{display:none;}
.hideAnim{opacity: 0;}
table tr {transition: opacity 0.2s linear; opacity: 1;}